*{
    margin: 0;
}

.dark{
    background-color: hsl(230, 17%, 14%);
    color: white;
}

body.dark .box{
    background-color: hsl(228, 28%, 20%);
}
.light{
    background-color: white;
}

body.light .box{
    background-color: hsl(227, 47%, 96%);
}

/* Base styles — for mobile (default) */
body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background: white;
  color: #333;
}

header {
  background: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}

.subHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-box{
    width: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    

}

.box{
    height: 200px;
    width: auto;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box:nth-of-type(1){
    border-top: hsl(208, 92%, 53%) 5px solid;
}
.box:nth-of-type(2){
    border-top: hsl(203, 89%, 53%) 5px solid;
}
.box:nth-of-type(3){
    border-top:  solid; /* Set border width */
    border-image: linear-gradient(to right, #ff6b6b, #4ecdc4) 1;
}
.box:nth-of-type(4){
    border-top: red 5px solid;
}

.username{
    display: flex;
    justify-content: center;
    

}

.username > p{
    font-size: 0.9rem;
    margin-left: 0.4rem;
}

.box-content > h1{
    font-size: 4rem;
    
}

.followers{
    font-size: 1.2rem;
    letter-spacing: 0.3rem;

    text-align: center;
}

.date{
    text-align: center;
    margin-top: 1em;
}

/* Medium screens (tablets) */
@media (min-width: 600px) {
  body {
    
  }

  

  main {
    max-width: 600px;
    margin: 0 auto;
  }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
  header {
    padding: 40px;
    font-size: 1.5rem;
  }

  hr{
    display: none;
  }

 .social-box{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    

}


#root{
     display: flex;
    flex-direction: column;
    align-items: center;
}

    
.Header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}


}
 